<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" (click)="closeNavMobile()">
      <i class="fa fa-map-marker text-light mr-1"></i>
      <span class="text-light">AG7-GeoAPI</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      (click)="getNavMobile()" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/home">API Documentation</a></li>
        <ng-container *ngIf="!this.tokenService.getUser()">
          <li class="nav-item"><a class="nav-link" routerLink="/login"><i class="fa fa-power-off mr-1"></i>Connexion</a>
          </li>
        </ng-container>
        <ng-container *ngIf="!!this.tokenService.getUser()">
          <li class="nav-item"><a class="nav-link" routerLink="/account"><i class="fa fa-user mr-1"></i>Compte</a></li>
        </ng-container>
        <ng-container *ngIf="!!this.tokenService.getUser()">
          <li style="cursor: pointer;" class="nav-item"><a class="nav-link" (click)="dialogLogOut()"><i
                class="fa fa-power-off mr-1"></i>Déconnexion</a></li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
<div class="mb-4 invisible">.</div>
<div class="invisible">.</div>
